[Unit]
Description = My Service
After = network.target


[Service]
Type=simple
ExecStart=/home/pratham/Pratham/Linux-User_Space/services/test
KillMode=process
Restart=always
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
Alias=user_service
