[Unit]
Description = This script will run after 3 mins
After = network.target


[Service]
Type=simple
WorkingDirectory=/home/pratham/Pratham/Linux-User_Space/scripts/
ExecStart=/home/pratham/Pratham/Linux-User_Space/scripts/script_file.sh
#KillMode=process
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
Alias=user_service

